Hi <%= @user.name %>,
<br><br>
We have received a request to reset your MINNECT account password.                             
<br><br>
Please click the link to reset your password. Note that this link is valid for 24 hours.
<br><br>
<a href="<%=edit_password_url(@user, reset_password_token: @token)%>" target="_blank">Set new password</a>
<br><br>
